.navbar {
  background-color: #616161;
  font-weight: 600;
  align-items: center;
  color: white;
}
.navbar-toggler{
  color: white;
}
.navbar-toggler:hover{
  background: hsla(0, 0%, 100%, 0.15);

}
.navbar-toggler:focus{
  background: hsla(0, 0%, 100%, 0.15);
  outline: none;
}

.nav-link {
  color: white;
  cursor: pointer;
  margin: 0 16px 0 10px;
  border-radius: 4px;
  padding: 8px 16px;
  outline: none;
}
.nav-link:hover {
  background: hsla(0, 0%, 100%, 0.15);
}
.nav-link:focus {
  outline-offset: 4px;
  background: hsla(0, 0%, 100%, 0.15);
  box-shadow: 0 0 1px 2px hsla(0, 0%, 100%, 0.8);
}
.nav-link:active {
  background: hsla(0, 0%, 100%, 0.15);
}
.nav-link-inner{
  border-radius: 4px;
  padding: 8px 16px;
}

.navbar .mega-dropdown .dropdown-menu {
  position: fixed;
  overflow: hidden;
  box-sizing: content-box;
}

.mega-dropdown .dropdown-content{
  background: white;
  display: none;
  text-align: left;
  margin-top: 0;
  top: 48px;
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  box-sizing: content-box;
  border-bottom: 1px solid #e9ecef;
}

.mega-dropdown .dropdown-content button{
  outline: none;
  color: black;
}

.mega-dropdown .dropdown-content button:focus {
  background-color: white;
}

.mega-dropdown .dropdown-content button:hover {
  background-color: #e9ecef;
}

.mega-dropdown .dropdown-content button:active {
  background-color: #dee1e3;
}
.mega-dropdown:hover .dropdown-content{
  display: block;
}
