
<nav class="navbar navbar-expand-sm">
  <img
    class="icon"
    alt="Collisions logo"
    src="../assets/icons/Kolizje.ico"
  />
  <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
    &#9776;
  </button>

  <div class="collapse navbar-collapse" [ngbCollapse]="isMenuCollapsed" >
    <ul class="navbar-nav mr-auto" role="navigation">
      <div class="mega-dropdown" ngbDropdown #homeDropdown="ngbDropdown">
        <li class="nav-item"><a class="nav-link" routerLink="/" (click)="isMenuCollapsed = true" (mouseover)="homeDropdown.open()"  id="homeDropdown1" ngbDropdownToggle><span class="nav-link-inner">HOME</span></a></li>
        <div ngbDropdownMenu aria-labeledby="homeDropdown1">
            <div class="dropdown-content">
              <button ngbDropdownItem>Action - 1</button>
              <button ngbDropdownItem>Another Action</button>
              <button ngbDropdownItem>Something else is here</button>
            </div>
        </div>
      </div>
      <div class="mega-dropdown">
        <li class="nav-item"><a class="nav-link"  routerLink="/pokedex"(click)="isMenuCollapsed = true"><span class="nav-link-inner">DATA</span></a></li>
      </div>
    </ul>
  </div>
</nav>
